body {
    display: flex;
    background-color: rgb(70,100,140);
    justify-content: flex-start;
    align-items: start;
}

body > div {
    order: 1;
    width: 100%;
}

body #points {
    color: white;
    font-size: 10rem;
    padding: 0 0 0 1rem;
    margin: 0;
}

#gameOver {
    color: white;
    font-size: 3rem;
    padding-left: 1rem;
}

img {
    display: block;
    max-height: 180px;
    float: right;
}