body {
    display: flex;
    background-color: rgb(70, 100, 140);
    justify-content: flex-start;
    align-items: start;
}

body > div {
    order: 1;
    width: 100%;
}

body #points {
    color: white;
    font-size: 10rem;
    padding: 0 0 0 1rem;
    margin: 0;
}

#gameOver {
    color: white;
    font-size: 3rem;
    padding-left: 1rem;
}

img {
    display: block;
    max-height: 180px;
    float: right;
}

button {
    font-size: 1rem;
    border: none;
    color: white;
    background-color: rgb(77, 111, 154);
    padding: 1rem;
    margin: 1rem;
}

label {
    font-size: 2rem;
}

#deltaE {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#deltaE::-webkit-slider-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('img/n0.png');
    cursor: pointer;
}

#deltaE::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('img/n0.png');
    cursor: pointer;
}

#settings {
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(100, 100, 100);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem;
    padding: 0.5rem;
}